@model bool

@if (Model)
{
    <ul class="nav navbar-nav">
        <li><a asp-controller="Users" asp-action="Logout">Log out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-controller="Users" asp-action="Login">Log in</a></li>
    </ul>
}
