@model Portal.Presentation.MVC.Members.ViewModels.MemberViewModel

@section styles
{
    <link rel="stylesheet" href="~/css/members/member.css" />
}

<h1>Create Member</h1>
<div id="formContainer">
    @Html.Partial("_MemberForm")
</div>
<div>
    <div class="btn btn-primary" id="submitMemberForm" onclick="createMember()">@L["Ok"]</div>
</div>

@section scripts
{
    <script src="/js/members/member.js"></script>
}