@model System.Collections.Generic.List<Portal.Domain.Assets.AssetType>

<h1>Asset Types</h1>
@foreach (var assetType in Model)
{
    <div>
        <a href="/Assets/@assetType.Name">@assetType.Name</a>
        <a href="/Assets/EditType/@assetType.Name">Edit</a>
    </div>
}